# CodeIgniter 4
/vendor/
/writable/
.env

# Assets volumineux (template + uploads)
/public/studypress/
/public/uploads/

# Fichiers Affinity Designer/Publisher
/Affinity/

# macOS
.DS_Store
Icon?

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Node (si assets build)
node_modules/
